# Ignorar arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar arquivos de configuração de ambientes virtuais
env/
venv/
ENV/
.venv/
.pyenv/
.Python

# Ignorar arquivos de IDEs/editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos de logs
*.log

# Ignorar arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de dependências instaladas
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/

# Ignorar arquivos pessoais de configuração de editor
*.swp
*.swo
*.bak
